@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }
}
/* html {
  overflow: auto !important;
} */
 html {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  cursor: none;
}
html {
  @apply scroll-smooth;
}
#gradient-bg {
  background: radial-gradient(circle at center, #e8dfff, #c7a7ff, #a27bff);
  filter: blur(60px);
  transition: background 0.2s ease;
}


body {
  cursor: none;
}

/* Inner Cursor */
.cursor-inner {
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform 0.05s linear;
  @apply bg-gradient-to-r from-rose-600 via-fuchsia-600 to-amber-500
}

/* Outer Dotted Ring */
.cursor-outer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9998;
  animation: rotateRing 2s linear infinite;
  border: 2px dashed transparent;
    background: linear-gradient(to right, #e11d48, #c026d3, #f59e0b) border-box;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

/* Ring rotation */
@keyframes rotateRing {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Click pulse animation */
.cursor-inner.click {
  transform: translate(-50%, -50%) scale(0.7);
  background: #f0f0f0;
}

.cursor-outer.click {
  transform: translate(-50%, -50%) scale(0.8);
  border-color: #ddd;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}
